/* GENERAL SETTINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo', cursive;
    color: #3e3e3e;
    text-transform: uppercase;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #3e3e3e;
}

a {
    text-decoration: none;
    color: #ff8443;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: #3e3e3e;
}

.btn-primary {
    color: #fff;
    background-color: #ff8443;
    border-color: #ff8443;
}

.btn-primary:hover {
    color: #ff8443;
    background-color: #fff;
    border-color: #ff8443;
    transition: .5s;
}

.btn-outline-primary {
    color: #ff8443;
    border-color: #ff8443;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #ff8443;
    border-color: #ff8443;
}

.sectionTitle {
    color: #ff8443;
    font-size: 40px;
}

.request-buttons {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.request-demo,
.request-support,
.request-seller {
    width: 75px;
    height: 60px;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    transition: all .3s;
}

.request-demo {
    border-top-right-radius: 10px;
    background-color: #de657e;
}

.request-demo:hover {
    background-color: #ffffff;
    color: #de657e;
    border: 1px solid #de657e;
}

.request-support {
    background-color: #966fca;
}

.request-support:hover {
    background-color: #ffffff;
    color: #966fca;
    border: 1px solid #966fca;
}

.request-seller {
    border-bottom-right-radius: 10px;
    background-color: #519ee2;
}

.request-seller:hover {
    color: #519ee2;
    background-color: #ffffff;
    border: 1px solid #519ee2;
}

.request-icon {
    font-size: 25px;
}

/* NAVBAR */


.navbar a {
    font-family: 'Open Sans', sans-serif;
}

.navbar .navbar-toggler-icon .fas {
    font-size: 35px;
    color: #fff;
}

.navbar .dropdown-menu {
    background: rgba(62, 62, 62, .9) linear-gradient(30deg, #ff81, #ff8443) repeat scroll 0 0;
}

.navbar .dropdown-menu:hover {
    background: rgba(62, 62, 62, .9) linear-gradient(30deg, #ff81, #ff8443) repeat scroll 0 0;
    ;
}

.navbar .dropdown-item:hover {
    background-color: rgba(0, 0, 0, .3);
}

.navbar {
    padding: 15px;
    background: rgba(0, 0, 0, 0) linear-gradient(30deg, #ff81, #ff8443) repeat scroll 0 0;
    border-bottom: #ff8443 2px solid;
}

.navbar-nav li a {
    color: #fff;
    font-weight: 500;
}

.navbar-nav li a:hover {
    color: #ff8443;
}

.nav-link {
    text-transform: uppercase;
    transition: color .5s ease;
}

nav.shrink {
    padding: 15px;
    background-color: #3e4452;
    border-bottom: #ff8443 3px solid;
}

nav.shrink .dropdown-menu {
    background-color: #3e4452;
}

nav.shrink .dropdown-menu:hover {
    background-color: #3e4452;
}

nav.shrink .dropdown-item:hover {
    background-color: #3e4452;
}

.fixed-top {
    z-index: 2;
}


/* HEADER SECTION */

#headerSection .col {
    vertical-align: middle;
}

#headerSection .sliderImg {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100vh;
    z-index: -1;
}

#headerSection .arrowButton {
    font-size: 40px;
}

#headerSection .carousel-item.active {
    display: flex;
}

#headerSection .carousel-item {
    height: 100vh;
}

#headerSection .overlay {
    background-color: rgba(0, 0, 0, .7);
    height: 100vh;
}

#headerSection .row {
    height: 100vh;
}

#headerSection .moveIcon {
    width: 30px;
    height: 30px;
}

.carousel-indicators {
    z-index: 1;
}

/* ABOUT US SECTION */


#aboutUs h5 {
    color: #3e4452;
    font-size: 1.5rem;
}

#aboutUs h2 {
    font-size: 40px;
}

#aboutUs p {
    color: grey;
    font-size: 16px;
    line-height: 2rem;
}

#aboutUs .fas {
    font-size: 36px;
    padding: 15px;
    color: #ff8443;
}

#aboutUs .col-md-3 {
    border-right: 2px solid #ff8443;
}

#aboutUs .col-md-3:last-child {
    border-right: none;
}

/* PARALAX SECTION */

.paralaxBg {
    position: relative;
    padding: 65px 0 65px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.paralaxBg::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 137, 23, .7);
}

#paralax .btn-outline-light {
    font-size: 21px;
    font-weight: 500;
    border-style: dashed;
}

#paralax h4 {
    color: #3e3e3e;
    font-size: 35px;
    font-weight: 500;
    opacity: .9;
}


/* PRODUCTS SECTION */

#products {
    background-color: gainsboro;
}

#product p {
    font-size: 16px;
}

#products img {
    margin-top: 48px;
}

.product-content li {
    list-style: disc;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff8443;
}

/* BLOG SECTION */

#blog-index .index-blog-image {
    height: 200px;
}

#blog-index .blogHead {
    font-size: 18px;
}


/* REFERENCES SECTION */

#firmalar .container-fluid {
    background-color: gainsboro;
}



/* FOOTER AREA */

footer {
    left: 0;
    bottom: 0;
    right: 0;
}

footer li {
    list-style: none;
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}

footer li:hover {
    color: #ff8443;
    transition: .5s;
}

footer p {
    color: #fff;
    font-size: 14px;
}

footer a {
    color: #fff;
    transition: .5s;
    font-size: 14px;
}

footer a:hover {
    text-decoration: none;
    color: #ff8443;
}

footer h4 {
    padding-bottom: 10px;
    color: #ff8443;
    font-size: 20px;
}

.footerRow {
    border-bottom: 1px solid #ff8443;
}

.contactArea a {
    line-height: 3;
}

.socialIcons i {
    font-size: 35px;
    padding-left: 15px;
}


.contactArea i {
    float: left;
    margin-right: 10px;
    font-size: 25px;
    margin-top: 10px;
}

.contactArea i:hover {
    color: #ff8443;
}

/* DEMO REQUEST FORM CSS */

.popup {
    border: 2px solid #3e3e3e;
    z-index: 2;
    transform: rotate(270deg);
    position: fixed;
    bottom: 60px;
    right: 10px;
    border-radius: 85% 100% 80% 0;
    height: 80px;
    width: 80px;
    font-size: 18px;
}

/* The side navigation menu */
.sidenav {
    height: 80%;
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #3e3e3e;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 30px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
}

.sidenav .closebtn:hover {
    color: #ff8443;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 30px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Form Settings */


#mySidenav h3 {
    padding-bottom: 25px;
}

.box {
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.box .styl {
    position: relative;
    padding: 5px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}


.box input,
.box textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}

.box textarea {
    left: 0;
    bottom: 0;
    top: 0;
}

.box input[type="submit"] {
    border-bottom: none;
    background: #ff8443;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    width: auto;
    padding: 10px;
}

.box form div {
    position: relative;
}

.box .txtLabel {
    position: absolute;
    top: 5px;
    left: 6px;
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.box input:focus~label,
.box textarea:focus~label,
.box input:valid~label,
.box textarea:valid~label {
    top: -21px;
    left: 0;
    color: #ff8443;
    font-size: 14px;
}

.box input:focus,
.box textarea:focus,
.box input:valid,
.box textarea:valid {
    border-bottom: 2px solid #ff8443;
}

.urunText p {
    color: #ff8443;
}

.form-check-input,
.form-check-label,
.form-check {
    left: 10px;
    margin-bottom: 4px;
}

.form-check-label {
    margin-left: 2px;

}

/* MEDIA QUARIES */

@media screen and (max-width:1200px) {

    /* NAVBAR SETTINGS */
    .navbar-nav li a {
        font-size: 13px;
    }

    .navbar .img-fluid {
        height: 35px;
    }

    /* ABOUT US SETTINGS */

    #aboutUs .col-md-7 {
        padding: 0 !important;
    }

    #aboutUs .pt-5 {
        padding-top: 1rem !important;
    }

    #aboutUs .btn-primary {
        margin-top: 0 !important;
    }

    /* PRODUCTS SETTINGS */

    #products .pl-md-5 {
        padding-left: 0 !important;
    }

    #products p {
        font-size: 15px;
    }

    #products .mb-4 {
        margin-bottom: 0.5rem !important;
    }
}

@media screen and (max-width:992px) {

    /* GENERAL SETTINGS */

    h2 {
        font-size: 35px !important;
    }

    h4 {
        font-size: 30px !important;
    }

    h5 {
        font-size: 20px !important;
    }


    p {
        font-size: 15px !important;
        line-height: 1.5rem !important;
    }

    /* NAVBAR SETTINGS */
    .navbar {
        background: rgba(0, 0, 0, .7) linear-gradient(30deg, #ff81, #ff8443) repeat scroll 0 0;
    }

    .navbar-nav li a {
        font-size: 15px;
    }

    /* DEMO FORM SETTINGS */

    .form-check-input {
        margin-left: 0;
    }

    .form-check-input,
    .form-check-label,
    .form-check {
        left: 0;
    }

    /* HEADER SETTINGS */

    #headerSection .carousel-item,
    #headerSection .overlay {
        height: 75vh !important;
    }

    /* ABOUT US */

    #aboutUs .btn-primary {
        display: block;
    }

    #aboutUs pt-4 {
        padding-top: 0.5rem !important;
    }

    #aboutUs .img-fluid {
        max-width: 350px;
        height: 350px;
    }

    /* PARALAX SETTINGS */

    .paralaxBg {
        padding: 30px 0 30px;
    }

    #paralax .btn-outline-light {
        font-size: 18px;
    }

    /* PRODUCTS SETTINGS */

    #products .py-5 {
        padding-top: 1rem !important;
    }

    #products img {
        margin-top: 16px;
    }

    #products .p-md-5 {
        padding: 1rem !important;
    }
}

@media screen and (max-width:768px) {

    /* DEMO FORM SETTINGS */

    .sidenav {
        height: 100%;
    }

    .box input[type="submit"] {
        margin-top: 20px;
    }



    /* HEADER SETTINGS */

    #headerSection .display-4 {
        font-size: 2.5rem;
    }

    /* ABOUT US SETTINGS */

    #aboutUs .img-fluid {
        margin-top: -330px;
        opacity: .5;
        position: relative;
        z-index: -1;
    }

    #aboutUs .col-md-3 {
        border-right: none;
    }
}

@media screen and (max-width:576px) {

    /* HEADER SETTINGS */

    #headerSection .display-4 {
        font-size: 1.5rem;
    }

    /* ABOUT US SETTINGS */

    #aboutUs p {
        margin-left: 15px;
    }

    /* FOOTER SETTINGS */

    footer .container {
        margin-left: 15px;
    }
}


/* BANNER SECTION */

.page-banner {
    width: 100%;
    display: table;
}

.banner-title {
    padding-top: 200px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.title::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #ff8443;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
}


/*------------------------------
    ABOUT US PAGE CSS
------------------------------*/

#aboutUsBody {
    background-color: #3e3e3e;
}



.bg-main {
    background-color: #ff8443;
}

.about-text {
    height: 400px;
    padding: 3rem;
    font-size: 97%;
}

#aboutUsBody .about-text p {
    margin-bottom: 8px;
    margin-top: 8px;
}

#aboutUsText li {
    line-height: 1.2;
}


/* MEDIA QUARIES FOR ABOUT US */

@media screen and (max-width:1200px) {
    .about-text {
        padding: 1rem;
        font-size: 90%;
    }

    #aboutUsBody .about-text p {
        margin-top: 20px;
    }

    #aboutUs p,
    #aboutUsText p {
        font-size: 15px;
    }
}


/*------------------------------
   PRODUCT PAGE CSS
------------------------------*/

.urunlerimiz nav {
    padding: 15px;
    background-color: #3e4452;
    border-bottom: #ff8443 3px solid;
}

.version-tab a:hover {
    color: #fff;
}

.fa-times {
    color: red;
}

.fa-check {
    color: green;
}

/*------------------------------
    RESTORAN BAR PAGE CSS
------------------------------*/



/*------------------------------
    BAYÄ° BAÅžVURU FORMU CSS
------------------------------*/

.bayiLabel,
.iletisimLabel {
    color: #ff8443;
}


/*------------------------------
   RESELLER PAGE CSS
------------------------------*/

.reseller-card span {
    color: #ff8443;
}

.reseller-card a {
    color: #3e3e3e;
}

.reseller-card a:hover {
    color: #ff8443;
}

.sehir {
    color: #ff8443;
}


/*------------------------------
    REFERENCES PAGE CSS
------------------------------*/

#referanslar .sektor {
    color: #ff8443;
}

#referanslar .card {
    border: 1px solid #ff8443;
    width: 250px;
    height: 280px;
}

#referanslar .card-body {
    position: absolute;
    height: 125px;
    bottom: 0;
    width: 100%;
}

#referanslar .card img {
    position: absolute;
    bottom: 125px;
    top: 25px;
}

#referanslar .card-title {
    padding-top: 10px;
    border-top: 1px solid #ff8443;
}



/*------------------------------
    BLOG PAGE CSS
------------------------------*/

.blog-image {
    height: 260px;
    width: 100%;
    margin-bottom: 15px;
}

#blog-index .card {
    width: 255px;
    height: 300px;
}

.blogHead:hover {
    color: #ff8443;
    text-decoration: none;
}

.blogHead {
    font-family: 'Baloo', cursive;
    color: #3e3e3e;
    font-size: 20px;
    text-decoration: none;
}

.page-link {
    color: #ff8443;
}

.page-item.active .page-link {
    background-color: #ff8443;
    border-color: #ff8443;
}

/* Sidebar Search CSS */

.sidebar {
    width: 100%;
}

.fa-search {
    color: #ff8443;
    font-size: 20px;
}

.sidebar-search-form {
    width: 100%;
    position: relative;
}

.sidebar-search-form::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: "";
    background: linear-gradient(to right, #3e3e3e, #ff8443);
}

.sidebar-search-form-input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 15px;
}

.sidebar-search-form-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.blog-meta {
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
}

.blog-meta li {
    display: inline-block;
    font-size: 14px;
    color: #3e3e3e;
    margin-right: 10px;
}

.blog-meta i {
    color: #ff8443;
    margin-right: 5px;
}

/* SIDEBAR CATEGORIES CSS */

.sidebar-title {
    font-weight: 700;
    font-size: 20px;
}

.category-list a:nth-child(1) {
    border-top: 1px solid #eee;
}

.category-list a {
    display: block;
    font-size: 14px;
    transition: .5s opacity;
    color: #3e3e3e;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.category-list a:hover {
    color: #ff8443;
}

.category-list a span {
    float: right;
    color: #ff8443;
}

/* POST NAVIGATION CSS */

#blog nav {
    width: 100%;
}

/* LATEST POST CSS */

.sidebar-post {
    min-height: 70px;
    margin-bottom: 25px;
}

.img-post {
    display: block;
    float: left;
    width: 85px;
    height: auto;
    margin-right: 10px;
    margin-top: 5px;
}

.post-date {
    font-size: 14px;
}

.post-sub {
    color: #3e3e3e;
}

.post-sub:hover {
    color: #ff8443;
}

/*------------------------------
   SINGLE BLOG PAGE CSS
------------------------------*/

#single-blog .blog-image {
    height: 400px;
    width: auto;
}


/*------------------------------
   CONTACT PAGE CSS
------------------------------*/

.contact-card-address {
    background-color: aliceblue;
    height: 180px;
}

.contact-card-phone {
    background-color: gainsboro;
    height: 180px;
}

.contact-card-email {
    background-color: gray;
    height: 180px;
}

.contact-card-address i,
.contact-card-phone i,
.contact-card-email i {
    font-size: 35px;
    color: #ff8443;
}